* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items {
  padding: 20px;
  /* 「CSS flex」等で検索*/
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: #c5e6dd;
}

.item{
  width: calc(100% / 6);
  padding: 5px;
}

.item img {
  width: 100%;
  display: block;
}

/* 「メディアクエリー CSS」等で検索 */
@media screen and (max-width: 800px) {
  .item {
    width: calc(100% / 3);
  }
}
