* {
  margin: 0;
  padding: 0;
}

.box {
  width: 420px;
  margin: 50px auto;
  padding: 5px 10px 15px 10px;
  border: 5px solid #FF6666;
}

.title {
  border-bottom: dashed #FF6666;
}
.title-headline {
  font-size: 24px;
  text-align: center;
}
.title-sabline {
  color: #FF6666;
  font-size: 15px;
  text-align: center;
}

.wifi {
  margin-top: 20px;
}
.wifi-icon {
  width: 40px;
  margin-top: 5px;
}
.wifi-text {
  width: 360px;
  float: right;
}
.wifi-text-red {
  color: #FF6666;
}

.comment {
  margin-top: 20px;
  clear: both;
}
.comment-icon {
  width: 40px;
  margin-top: 5px;
}
.comment-text {
  float: right;
}
.comment-text-green {
  color: #99CC33;
}

.warning {
  font-size: 12px;
  text-align: center;
}
.warning-icon {
  width: 14px;
}
